.main_banner{
    position: relative;
    overflow: hidden;
  
    .cover{
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: #000000;
        opacity: .5;
    }
  


}